<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            ngModel
            name = "username"
            class="form-control"
            required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            ngModel
            name ="email"
            type="email"
             id="email" 
             class="form-control"
             required
             email
             #email="ngModel">
          </div>
        </div>
        <span class = "help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!.</span>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
          ngModel
          name="secret"
          id="secret" 
          class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button 
        [disabled]="!f.valid"
        class="btn btn-primary" 
        type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
